
body {
  font-family: 'arial';
}


.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 1024px;
  margin: auto;
}

header {
  width: 964px;
  margin: auto;
  padding: 30px;
}

sidebar {
  flex-basis: 30%;
  padding: 10px 5px;
  color: #333;
}

main {
  flex-basis: 70%;
  padding: 10px;
}

.box-success,
.box-error {
  display: none;
}

.box-error {
  font-size: 24px;
  color: #ff0000;
}

.box-success {
  font-size: 24px;
  color: #098ADF;
}

.box {
  font-size: 1.25rem;
  padding: 25px;
  position: relative;
  margin: 0 auto;
  outline: 2px dashed #0069AA;
  outline-offset: -10px;
  transition: outline-offset 0.15s ease-in-out 0s, background-color 0.15s linear 0s;
}
.box .box-upload {
  text-align: center;
}
.box .box-icon {
  display: block;
  fill: #0069AA;
  margin-bottom: 10px;
  width: 100%;
}

.box-input {
  text-align: center;
}

.box .box-dragndrop {
  display: inline;
}
.box-file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.box-file+label {
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 auto;
}

.box-file+label:hover strong,
.box-file:focus+label strong,
.box-file.has-focus+label strong {
  color: #098ADF;
}

.box-upload.is-dragover {
  background-color: #eee;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

table tr > th, table tr > td {
  padding: 5px;
}
table > tr > td {
  text-align: center;
}
table > thead > tr {
  border-bottom: solid 1px #000;
}
table > tbody > tr {
  border-bottom: solid 1px #000;
  border-bottom: 2px dashed #0069aa;
}

main {
  border: solid 1px #ccc;
  clear:both;
}
.panel {
  background: #ddd;
  width: 250px;
  min-height: 200px;
  float: left;
  margin: 5px;
}

.panel table {
  width: 100%;
}
.panel table > tbody {
}
.panel table > tfoot > tr > td {
  text-align: center;
}



/* draggable targets */
[data-draggable="target"] {
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #888;
  background: #ddd;
  color: #555;
}

/* draggable items */
[data-draggable="item"] {
  display: table-row;
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  line-height: 1.3;
  width: 100%;
}