*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

table {
  max-width: 960px;
	min-height:300px;
  margin: 10px auto;
  border-collapse: collapse;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #098ADF;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 2px dashed #0069AA;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

.box__dragndrop,
.box__success,
.box__error {
  display: none;
}

.box__error {
  font-size: 24px;
  color: #ff0000;
}

.box__success {
  font-size: 24px;
  color: #098ADF;
}

.box {
  font-size: 1.25rem;
  padding: 50px;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.box.has-file-upload {
  outline: 2px dashed #0069AA;
  outline-offset: -10px;
  transition: outline-offset 0.15s ease-in-out 0s, background-color 0.15s linear 0s;
}

.box.has-file-upload .box__icon {
  display: block;
  fill: #0069AA;
  margin-bottom: 10px;
  width: 100%;
}

.box__input {
    text-align: center;
}

.box__file {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

.box__file + label {
    cursor: pointer;
    display: inline-block;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box__file + label:hover strong, .box__file:focus + label strong, .box__file.has-focus + label strong {
    color: #098ADF;
}

.box.has-file-upload .box__dragndrop {
    display: inline;
}

.box.is-dragover {
  background-color: grey;
}

.container table {
  display: inline-table;
}

/* draggable targets */
[data-draggable="target"]
{
	float:left;
	width:450px;
	min-height:300px;
	overflow-y:auto;
	margin:5px;
	padding:5px;
	border:1px solid #888;
	background:#ddd;
	color:#555;
}

/* draggable items */
[data-draggable="item"]
{
	display:table-row;
	list-style-type:none;
	margin:2px;
	padding:2px;
	line-height:1.3;
  width: 100%;
}
